/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* VARIABLES */
:root {
  --background: #1c1c1c; /* soft black */
  --heading: #D4AF37; /* white gold; dark */
  --text: #d3d3d3; /* ghostly gray */
  --special: #B22222; /* firebrick red */
}

/* SELECTORS */
body {
  background-color: var(--background);
  font-family: 'Lora', serif;
  font-size: 15px;
  color: var(--text);
}

header { /* leverages flexbox to manage the header elements */
  font-family: 'Merriweather', serif;
  color: var(--heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 50px 0;
}

header img { 
  position: absolute; /* supports the heading to be center-aligned relative to page width */
  max-width: 150px;
}

h1, h6 { 
  font-size: 76px;
  width: 100%; /* allows the heading to be center-aligned relative to page width */
  text-align: center;
}

main { /* constrained for readability. margin auto is required to center align. */
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  color: var(--heading);
  font-size: 50px;
  text-align: center;
  margin: 50px 0 20px 0;
  padding: 0
}

p {
  line-height: 1.5;
}

footer {
  color: var(--background);
  text-align: right;
  margin: 100px 20px 10px 0;
}

/* CLASSES */
.crumb {
  font-size: 15px;
  margin-top: 20px;
  padding: 0;
}

.crumb a {
  text-decoration: none;
  color: var(--heading);
}

.crumb a:hover {
  color: var(--special);
}

.highlight {
  color: var(--heading);
}

/* IDS */
#index-list { /* turns the body of index.html into a stacking list */
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: wrap;
}

#index-list p {
  margin: 20px 0;
}

#index-list a {
  text-decoration: none;
  color: var(--text);
}

#index-list a:hover {
  color: var(--special);
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  header { /* makes the header image and h1 stack */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  header img {
    position: relative; /* allows it to stack; it was previously made absolute */
    max-width: 100px;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    margin-top: 5px;
  }
}
