/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* SELECTORS */
:root {
  --background: #1c1c1c; /* soft black */
  --heading: #D4AF37; /* white gold; dark */ 
  --text: #d3d3d3; /* ghostly gray */
  --special: #B22222; /* firebrick red */
}

body {
  background-color: var(--background);
  font-family: 'Lora', serif;
  font-size: 15px;
  color: var(--text);
}

header {
  font-family: 'Merriweather', serif;
  color: var(--heading);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img {
  flex-shrink: 0;
  max-width: 150px;
  height: auto;
}

h1, h6 {
  font-size: 76px;
  flex-grow: 1;
  text-align: center;
}

main {
  max-width: 750px;
  margin: 0 auto;
}

h2 {
  font-size: 53px;
  padding: 0 0 20px 0;
}

/* ---- remove comment once finalized
footer {
  color: var(--background);
}
---- */

/* CLASSES */
.crumb {
  font-size: 15px;
}

/* IDS */
#index-list {
  font-size: 22px;
  list-style: none;
  text-align: center;
}

#index-list li {
  margin: 20px 0;
}

#index-list a {
  text-decoration: none;
  color: var(--text);
}

#index-list a:hover {
  color: var(--special);
}

/* OTHER */
@media (max-width: 550px) {
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  header img {
    max-width: 105px;
  }
  header h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 33px;
  }
  
}
